---
import '@content/docs/browser-components/sample-css/corners.css';
import fs from 'node:fs';
import path from 'node:path';
import { parseRadiusScheme } from '@utils/browser-components/radiusParser';

const cssFilePath = path.resolve('./src/content/docs/browser-components/sample-css/corners.css');
const cssContent = fs.readFileSync(cssFilePath, 'utf-8');
const radius = parseRadiusScheme(cssContent);
---

<div class="max-w-7xl mx-auto p-6 theme">
  <div class="flex flex-col items-center min-w-0">
    <div
      class="aspect-square w-full max-w-[120px] bg-black mb-3"
      style={{
        borderRadius: radius?.value,
        display: 'block',
      }}
    >
    </div>
    <div class="w-full text-center min-w-0">
      <div class="truncate">
        <span class="text-sm font-mono whitespace-nowrap">
          {radius?.name}
        </span>
      </div>
      <div class="truncate">
        <span class="text-sm whitespace-nowrap">
          {radius?.value}
        </span>
      </div>
    </div>
  </div>
</div>
