---
import "@content/docs/browser-components/v0.2.0/sample-css/corners.css";
import { parseRadiusScheme } from "@utils/browser-components/v0.2.0/radiusParser";

// Hardcoded CSS content
const cssContent = `@theme {
  --radius-site: 1rem;
}`;

const radius = parseRadiusScheme(cssContent);
---

<div class="pt-6 flex justify-center w-full">
  <div class="flex gap-4 items-center">
    <div
      class="aspect-square w-[120px] bg-stone-400 mb-3"
      style={{
        borderRadius: radius?.value,
        display: "block",
      }}
    >
    </div>
    <div>
      <div>
        <strong>
          {radius?.name}
        </strong>
      </div>
      <div>
        <p>
          {radius?.value}
        </p>
      </div>
    </div>
  </div>
</div>
