---
export const prerender = true;
import "@content/docs/browser-components/v0.2.0/sample-css/shadows.css";
import cssContent from "../../../../../content/docs/browser-components/v0.2.0/sample-css/shadows.css?raw";
import { parseShadowScheme } from "@utils/browser-components/v0.2.0/shadowParser";

const shadow = parseShadowScheme(cssContent);
---

<div class="pt-2 flex justify-center w-full">
  <div class="flex gap-4 items-center">
    <div
      class="w-42 h-42 p-4 rounded-xl aspect-square flex justify-center items-center bg-white relative"
    >
      <div
        class="w-32 h-32 p-4 bg-zinc-300 rounded-lg"
        style={{
          boxShadow: shadow?.value,
        }}
      >
      </div>
    </div>

    <div class="text-center">
      <div>
        <strong>
          {shadow?.name}
        </strong>
      </div>
    </div>
  </div>
</div>
