---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="bg-stone-50 dark:bg-stone-800 border-l-4 border-stone-500 p-4 my-6 rounded-r">
  <div class="font-semibold text-stone-800 dark:text-stone-300 mb-2">
    {title}
  </div>
  <div class="text-stone-900 dark:text-stone-100">
    <slot />
  </div>
</div>