---
const { height = 400 } = Astro.props;
---
 
<div class="preview polka" style={`height: ${height}px`}>
    <slot />
</div>
 
<style>
.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 1rem;
    text-decoration: none;
    color: var(--sl-color-gray-2);
    height: auto;
}
</style>