---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="bg-yellow-50 dark:bg-yellow-900/30 border-l-4 border-yellow-500 p-4 my-6 rounded-r">
  <div class="font-semibold text-yellow-800 dark:text-yellow-300 mb-2">
    {title}
  </div>
  <div class="text-yellow-900 dark:text-yellow-100">
    <slot />
  </div>
</div>