
.elements-reactive-demo {
    display: flex;
    gap: 1.5rem;
  }
  
  .elements-reactive-data {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-top: 0px !important;
  }
  
  /* Facets */
  .elements-facets-dropdown-summary{
    background-color: white;
  }
  
  .elements-facets-more-filters-toggle{
    background-color: none;
  }
  
  .elements-facets-clear-facet-button{
    background-color: white;
  }
  
  .elements-facets-filter-tab-button{
    background-color: white !important;
  }
  
  .elements-facets-more-filters-toggle{
    background-color: transparent !important;
  }
  
  .elements-facets-show-toggle{
    background-color: transparent;
  }
  
  .elements-facets-clear-all-button{
    background-color: transparent;
  }

  .elements-facets-facets-tabs-container .elements-facets-option-label {
    background: rgba(119, 119, 119, 0.3);
  }

  .elements-facets-facets-tabs-container .elements-facets-options-wrapper,
  .elements-facets-facets-tabs-container .elements-facets-dropdown-summary {
    border: 1px solid rgba(102, 102, 102, 0.7);
  }

  .elements-facets-facets-tabs-container .elements-facets-options-wrapper {
    z-index: 10;
    color: #FFF;
  }

  .elements-facets-facets-tabs-container .elements-facets-dropdown-list,
  .elements-facets-facets-tabs-container .elements-facets-container,
  .elements-facets-facets-tabs-container .elements-facets-tabs-wrapper {
    margin: 0;
  }
  
  .elements-facets-facets-tabs-container .elements-facets-container {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Required due to narrow columns */
  }
  
  .elements-facets-facets-tabs-container .elements-facets-options-wrapper,
  .elements-facets-facets-tabs-container .elements-facets-dropdown-summary,
  .elements-facets-facets-tabs-container .elements-facets-dropdown-list,
  .elements-facets-facets-tabs-container .elements-facets-clear-facet-button,
  .elements-facets-facets-tabs-container .elements-facets-filter-tab-button {
    background: hsl(var(--background)) !important;
  }
  
  @media only screen and (width < 80rem) {
    .modal-fullscreen-mobile{
      height: 100%;
      width: 100%;
      margin:auto;
      padding: 1rem;
    }
  
    .modal-close-button{
      background-color: transparent;
      margin-bottom: 1rem;
    }
  
    .elements-facets-filter-tab-button{
      background-color: rgb(240 240 240) !important;
    }
  }