---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<div class="not-prose bg-stone-900/50 rounded-xl p-8 mb-8">
  <h2 class="text-xl font-bold text-stone-200 mb-4">{title}</h2>
  {description && <p class="text-stone-400 mb-6">{description}</p>}
  <div class="space-y-4">
    <slot />
  </div>
</div>