---
import ProductContext from '../components/ProductContext.astro';
import HeaderNav from '../components/HeaderNav.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import '@styles/global.css'
import '@styles/search.css'

interface Props {
  title: string;
  description?: string;
  product?: {
    id: string;
    name: string;
    description: string;
    icon: string;
    quickLinks: {
      title: string;
      href: string;
    }[];
  };
}

const { title, description, product } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="view-transition" content="same-origin" />
    <link rel="icon" type="image/svg+xml" href="/statics/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title} - THG Altitude</title>
    {description && <meta name="description" content={description} />}
    <ViewTransitions />
    <script is:inline src="/components/docs/browser-components/v0.2.0/modals/modal-init.js"></script>
  </head>
  <body class="min-h-screen bg-[#010101] text-stone-100">
    <HeaderNav />
    {product && <ProductContext {product} />}
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>