---
import BaseLayout from './BaseLayout.astro';
interface Props {
  title: string;
  description?: string;
  product?: {
    id: string;
    name: string;
    description: string;
    icon: string;
    quickLinks: {
      title: string;
      href: string;
    }[];
  };
}

const { title, description, product } = Astro.props;
---

<BaseLayout title={title} description={description} product={product}>
  <div>
    <slot />
  </div>
</BaseLayout>