---
interface Props {
  title: string;
  description?: string;
  product?: {
    id: string;
    name: string;
    description: string;
    icon: string;
    quickLinks: {
      title: string;
      href: string;
    }[];
  };
}

import BaseLayout from './BaseLayout.astro';

const { title, description, product } = Astro.props;
---

<BaseLayout title={title} description={description} product={product}>
  <div class="my-8 mb-12 max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8">
    <slot />
  </div>
</BaseLayout>